@model ViewModelsLab.Models.AddOrderLineItemViewModel

@{
    ViewBag.Title = "AddItem";
}

<h2>Add Item To Order</h2>


@using (Html.BeginForm("AddItem","Orders")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>New Item</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.OrderId)
            @Html.ValidationMessageFor(model => model.OrderId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ProductName, 
                Model.ProductList, 
                "Please select...")
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>


        <p>
            <input type="submit" value="Add to order" />
        </p>
    </fieldset>
}

